# File-types
*.pyc

# Ignore all tmux files but needed
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm

# Ignore all zsh files but needed
zsh/.zsh/*
!zsh/.zsh/.zprezto
!zsh/.zsh/.zlogin
!zsh/.zsh/.zlogout
!zsh/.zsh/.zpreztorc
!zsh/.zsh/.zprofile
!zsh/.zsh/.zshrc

# Ignore all files in .vim directory,
# because some plugins create temp files there
vim/.vim/*

# Exclude my own snippets from ignored
!vim/.vim/UltiSnips
!vim/.vim/ycm

# Ignore all plugins except vim-plug
!vim/.vim/autoload
vim/.vim/plugged/*
