# Ignore all zsh files but needed
zsh/.zsh/*
!zsh/.zsh/.zprezto
!zsh/.zsh/.zlogin
!zsh/.zsh/.zlogout
!zsh/.zsh/.zpreztorc
!zsh/.zsh/.zprofile
!zsh/.zsh/.zshrc

# Ignore all vim files but needed
vim/*
!vim/.nvimrc
!vim/.nvim/bundle/Vundle.vim
