autostart/
dconf/
evolution/
gedit/
gtk-2.0/
htop/
nautilus/
pulse/
systemd/
wireshark/
ranger/
!ranger/rc.conf

QtProject.conf
mimeapps.list
nvim/.init.vim-rplugin~
nvim/.netrwhist
ptpython/history
radare2/history
tags
user-dirs.dirs
user-dirs.locale
zsh/.zcompdump
