[submodule "vim/.vim/autoload"]
	path = vim/.vim/autoload
	url = https://github.com/junegunn/vim-plug.git
[submodule "zsh/.zsh/.zprezto"]
	path = zsh/.zsh/.zprezto
	url = https://github.com/russtone/prezto
