snippet imp "ES6 module import" b
import ${1:stuff} from '${2:module}';
endsnippet

snippet rcomp "React comonent ES6 syntax" b
import React from 'react';

class ${1:component} extends React.Component {
	render() {
		return (
			$0
		);
	}
}

export default $1;
endsnippet
