<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>my.startup</string>
    <key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>
            launchctl setenv XDG_CONFIG_HOME "$HOME/.config"
            launchctl setenv XDG_CACHE_HOME "$HOME/.cache"
            launchctl setenv XDG_DATA_HOME "$HOME/.local/share"
            launchctl setenv ADB_VENDOR_KEYS "$HOME/.local/share/android/.android"
            launchctl setenv ANDROID_SDK_HOME "$HOME/.local/share/android"
            launchctl setenv GRADLE_USER_HOME "$HOME/.cache/gradle"
            launchctl setenv GNUPGHOME "$HOME/.local/share/gnupg"
        </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
